<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/da50</property>
        <property name="hibernate.connection.username">hibernate_user</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="com.projet.da50.projet_da50.model.User"/>
        <mapping class="com.projet.da50.projet_da50.model.Lesson"/>
        <mapping class="com.projet.da50.projet_da50.model.Elements"/>
        <mapping class="com.projet.da50.projet_da50.model.Paragraph"/>
        <mapping class="com.projet.da50.projet_da50.model.PictureIntegration"/>
        <mapping class="com.projet.da50.projet_da50.model.VideoIntegration"/>
        <mapping class="com.projet.da50.projet_da50.model.Title"/>
        <mapping class="com.projet.da50.projet_da50.model.Log"/>
    </session-factory>
</hibernate-configuration>